@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
    background-image: url('https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80'); 
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'Cherry Bomb One', cursive;
    margin: 40px;
    padding: 0;
    text-align: center;
  }
  h1{
    color: #FFFAA0 ;
    font-family: 'Notable', sans-serif;
    font-size: 85px;
    position: relative;
    bottom: 55px;
    text-shadow: 2px 0 fuchsia, -2px 0 fuchsia, 0 2px fuchsia, 0 -2px fuchsia, 1px 1px fuchsia, -1px -1px fuchsia, 1px -1px fuchsia, -1px 1px fuchsia;
  }
  #title2{
    color: fuchsia;
    font-size: 45px;
    position: relative; 
    bottom: 135px;
    text-shadow: 2px 0 #FFFAA0, -2px 0 #FFFAA0, 0 2px #FFFAA0, 0 -2px #FFFAA0, 1px 1px #FFFAA0, -1px -1px #FFFAA0, 1px -1px #FFFAA0, -1px 1px #FFFAA0;
  }
  button{
    font-family: 'Cherry Bomb One', cursive;
  }
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */
  
  .header {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 125px;
    width: 350px;
    text-align: center;
    margin: auto;
  }
  
  .content {
    padding: 20px;
    line-height: 1.6;
    display: flex;
  }
  .note-sample{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 35%;
    display: inline-block; 
    box-sizing: border-box; 
    vertical-align: top;
    height: 213px;
  }
  
  .note {
    padding: 25px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 270px;
    word-break: break-all;
    height: 270px;
    position: relative;
    display: inline-block; 
    box-sizing: border-box; 
    vertical-align: top;
  }
  .note img{
    position: absolute;
    top: -20px;
    left: -20px;
    height: 310px;
    width: 310px;
    object-fit: cover;
    z-index: -1;
    transform: scale(2.1);
}
  
  .note h2 {
    margin-top: 0;
  }
  
  .footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  input[type=text] {
    border : 2px solid red;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    font-family: 'Cherry Bomb One', cursive;
  }
  input[type=text]:focus {
    width: 100%;
  }
  
  .import-holder{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
  }
  #plus-btn, #minus-btn{
    height: 20px;
  }
  .importance-rank{
    font-size: 35px;
  }
  